{% extends "blog/base.html" %} {% block content %}
<main class="">
  <div
    class="z-0 bg-green-50 pt-20 md:pt-20 pb-4 md:pb-1 mb-4 md:mb-4 relative undefined"
  >
    <div class="container px-4 lg:px-0 mx-auto">
      <h2
        class="text-darkIndigo-900 text-center text-4xl font-heading font-semibold"
      >
        About Us
      </h2>
      <div class="py-2">
        <div class="container px-4 lg:px-0 mx-auto">
          <ul
            class="relative z-10 flex flex-wrap text-sm items-center !justify-center gap-2"
          >
            <li title="List Item" class="">
              <a
                class="undefined text-gray-500 hover:text-green-600 normal-case"
                href="/"
                >Home</a
              >
            </li>
            <li title="List Item" class="text-gray-500">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                height="20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                ></path>
              </svg>
            </li>
            <li title="List Item" class="text-gray-500">About Us</li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="-z-10 absolute top-full md:top-[65%] left-0 w-full rotate-180 text-green-50"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
        <path
          fill="currentColor"
          d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z"
        ></path>
      </svg>
    </div>
  </div>
  <section class="bg-white py-16 lg:flex flex-col bg-no-repeat lg:min-h-[70vh]">
    <div
      class="relative z-0 after:absolute after:-bottom-6 after:right-0 lg:after:right-0 after:w-full after:h-0 after:border-green-100 after:border-[0px] after:-z-10 after:rotate-[2deg] after:transform pb-32"
    >
      <div class="container mx-auto px-8 lg:px-0 2xl:w-3/5 lg:w-5/6 relative">
        <div
          class="gap-4 grid grid-cols-1 md:!grid-cols-1 lg:!grid-cols-2 items-center !gap-10 md:grid-cols-2 lg:grid-cols-4 undefined"
        >
          <!-- <div class="relative flex h-full justify-center">
                        <div
                            class="rounded-xl w-[90%] h-[300px] my-6 relative before:absolute before:-bottom-2 before:-left-2 before:w-full before:h-full before:bg-green-300 before:rounded-xl before:-z-1">
                            <div
                                class="absolute rounded-bl-xl w-[96%] h-[96%] -z-1 border-0 border-b-2 border-l-2 border-solid border-green-200 -bottom-3.5 -left-3.5">
                            </div>
                            <div
                                class="absolute rounded-bl-2xl w-[94%] h-[94%] -z-1 border-0 border-b-2 border-l-2 border-solid border-green-200 -bottom-5 -left-5">
                            </div><iframe class="w-full h-full rounded-xl"
                                src="https://www.youtube.com/embed/bNOWkB-6cmc"
                                title="myScheme: One Stop Research For Government schemes, myScheme is a National Platform that aims to offer one-stop search and discovery of the Government schemes. It provides an innovative, technology-based solution to discover scheme information based upon the eligibility of the citizen."
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""></iframe>
                        </div>
                    </div> -->
          <div class="flex-1">
            <p class="leading-snug text-justify mb-6">
              myScheme is a National Platform that aims to offer one-stop search
              and discovery of the Government schemes.
            </p>
            <p class="leading-snug text-justify mb-6">
              It provides an innovative, technology-based solution to discover
              scheme information based upon the eligibility of the citizen.
            </p>
            <p class="leading-snug text-justify mb-6">
              The platform helps the citizen to find the right Government
              schemes for them. It also guides on how to apply for different
              Government schemes. Thus no need to visit multiple Government
              websites.
            </p>
            <p class="leading-snug text-justify mb-6">
              myScheme platform is Developed, Managed, and Operated by National
              e-Governance Division (NeGD), with the Support of Ministry of
              Electronics and Information Technology (MeitY), Department of
              Administrative Reforms and Public Grievance (DARPG) and in
              partnership with other Central and State Ministries/Departments.
            </p>
          </div>

          <div class="flex-1">
            <div
              class="grid grid-cols-1 md:flex flex-wrap gap-4 justify-between items-center !items-start mb-10"
            >
              <div class="flex-none hidden md:flex">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="text-green-600"
                  height="40"
                  width="40"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88 6.608 3 12 3zm0 16a9.005 9.005 0 0 0 8.777-7 9.005 9.005 0 0 0-17.554 0A9.005 9.005 0 0 0 12 19zm0-2.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9zm0-2a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="flex-1">
                <ul class="grid grid-cols-1 gap-2">
                  <li title="List Item" class="text-lg font-semibold">
                    <h2 class="text-2xl font-bold mb-2">Our Vision</h2>
                    <p class="text-lg font-semibold leading-snug text-justify">
                      Our vision is to make citizens life easier
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="grid grid-cols-1 md:flex flex-wrap gap-4 justify-between items-center !items-start"
            >
              <div class="flex-none hidden md:flex">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="text-green-600"
                  height="40"
                  width="40"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M13 4.069V2h-2v2.069A8.008 8.008 0 0 0 4.069 11H2v2h2.069A8.007 8.007 0 0 0 11 19.931V22h2v-2.069A8.007 8.007 0 0 0 19.931 13H22v-2h-2.069A8.008 8.008 0 0 0 13 4.069zM12 18c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6z"
                  ></path>
                </svg>
              </div>
              <div class="flex-1">
                <h2 class="text-2xl font-bold mb-2">Our Mission</h2>
                <ul class="grid grid-cols-1 gap-2">
                  <li title="List Item" class="text-lg font-semibold">
                    Our mission is to streamline the government – user interface
                    for government schemes and benefits.
                  </li>
                  <li title="List Item" class="text-lg font-semibold">
                    Reduce time and effort required to find and avail a
                    government scheme
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container mx-auto px-8 lg:px-0 2xl:w-3/5 lg:w-5/6 relative">
        <div
          class="gap-4 grid grid-cols-1 md:!grid-cols-1 lg:!grid-cols-3 !gap-20 !items-start md:grid-cols-2 lg:grid-cols-4 undefined"
        >
          <div class="flex-1">
            <div class="text-center">
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
                  "
                  ><img
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0;
                      margin: 0;
                      padding: 0;
                    "
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27740%27%20height=%27400%27/%3e" /></span
                ><img
                  alt="Eligibility Check"
                  title="Eligibility Check"
                  src="https://cdn.myscheme.in/images/about/eligibilityCheck.svg"
                  decoding="async"
                  data-nimg="intrinsic"
                  class="border-0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: contain;
                  "
                  srcset="
                    https://cdn.myscheme.in/images/about/eligibilityCheck.svg 1x,
                    https://cdn.myscheme.in/images/about/eligibilityCheck.svg 2x
                  " /><noscript
                  ><img
                    srcset="
                      https://cdn.myscheme.in/images/about/eligibilityCheck.svg 1x,
                      https://cdn.myscheme.in/images/about/eligibilityCheck.svg 2x
                    "
                    alt="Eligibility Check"
                    title="Eligibility Check"
                    src="https://cdn.myscheme.in/images/about/eligibilityCheck.svg"
                    decoding="async"
                    data-nimg="intrinsic"
                    style="
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      box-sizing: border-box;
                      padding: 0;
                      border: none;
                      margin: auto;
                      display: block;
                      width: 0;
                      height: 0;
                      min-width: 100%;
                      max-width: 100%;
                      min-height: 100%;
                      max-height: 100%;
                      object-fit: contain;
                    "
                    class="border-0"
                    loading="lazy" /></noscript
              ></span>
              <h3 class="text-2xl mt-4 mb-3 font-bold text-darkIndigo-900">
                Eligibility Check
              </h3>
              <p>
                You can check your eligibility for schemes using different
                criteria and personal attribute
              </p>
            </div>
          </div>
          <div class="flex-1">
            <div class="text-center">
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
                  "
                  ><img
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0;
                      margin: 0;
                      padding: 0;
                    "
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27740%27%20height=%27400%27/%3e" /></span
                ><img
                  alt="Eligibility Check"
                  title="Eligibility Check"
                  src="https://cdn.myscheme.in/images/about/filter.svg"
                  decoding="async"
                  data-nimg="intrinsic"
                  class="border-0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: contain;
                  "
                  srcset="
                    https://cdn.myscheme.in/images/about/filter.svg 1x,
                    https://cdn.myscheme.in/images/about/filter.svg 2x
                  " /><noscript
                  ><img
                    srcset="
                      https://cdn.myscheme.in/images/about/filter.svg 1x,
                      https://cdn.myscheme.in/images/about/filter.svg 2x
                    "
                    alt="Eligibility Check"
                    title="Eligibility Check"
                    src="https://cdn.myscheme.in/images/about/filter.svg"
                    decoding="async"
                    data-nimg="intrinsic"
                    style="
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      box-sizing: border-box;
                      padding: 0;
                      border: none;
                      margin: auto;
                      display: block;
                      width: 0;
                      height: 0;
                      min-width: 100%;
                      max-width: 100%;
                      min-height: 100%;
                      max-height: 100%;
                      object-fit: contain;
                    "
                    class="border-0"
                    loading="lazy" /></noscript
              ></span>
              <h3 class="text-2xl mt-4 mb-3 font-bold text-darkIndigo-900">
                Scheme Finder
              </h3>
              <p>
                Fast and easy searching with filter based drill downs for
                various Government Schemes
              </p>
            </div>
          </div>
          <div class="flex-1">
            <div class="text-center">
              <span
                style="
                  box-sizing: border-box;
                  display: inline-block;
                  overflow: hidden;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  max-width: 100%;
                "
                ><span
                  style="
                    box-sizing: border-box;
                    display: block;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    max-width: 100%;
                  "
                  ><img
                    style="
                      display: block;
                      max-width: 100%;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0;
                      margin: 0;
                      padding: 0;
                    "
                    alt=""
                    aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27740%27%20height=%27400%27/%3e" /></span
                ><img
                  alt="Eligibility Check"
                  title="Eligibility Check"
                  src="https://cdn.myscheme.in/images/about/search.svg"
                  decoding="async"
                  data-nimg="intrinsic"
                  class="border-0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: contain;
                  "
                  srcset="
                    https://cdn.myscheme.in/images/about/search.svg 1x,
                    https://cdn.myscheme.in/images/about/search.svg 2x
                  " /><noscript
                  ><img
                    srcset="
                      https://cdn.myscheme.in/images/about/search.svg 1x,
                      https://cdn.myscheme.in/images/about/search.svg 2x
                    "
                    alt="Eligibility Check"
                    title="Eligibility Check"
                    src="https://cdn.myscheme.in/images/about/search.svg"
                    decoding="async"
                    data-nimg="intrinsic"
                    style="
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      box-sizing: border-box;
                      padding: 0;
                      border: none;
                      margin: auto;
                      display: block;
                      width: 0;
                      height: 0;
                      min-width: 100%;
                      max-width: 100%;
                      min-height: 100%;
                      max-height: 100%;
                      object-fit: contain;
                    "
                    class="border-0"
                    loading="lazy" /></noscript
              ></span>
              <h3 class="text-2xl mt-4 mb-3 font-bold text-darkIndigo-900">
                Scheme in detail
              </h3>
              <p>
                Deep dive into dedicated scheme pages for fine grained scheme
                details before you apply
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
