{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- plugins -->
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
    style="font-display: optional" />
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap"
    media="screen" />

  <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css'%}" />

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/secondStyle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'images/logo1.jpg' %}" type="image/x-icon" />
  <link rel="icon" href="{% static 'images/logo1.jpg'%}" type="image/x-icon" />

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>JanJagruti</title>
  {% endif %}
</head>

<body>
  <header class="sticky-top bg-white border-bottom border-default">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-white">
        <a class="navbar-brand" href="{% url 'home'%}">
          <img class="img-fluid" width="50px" src="{% static 'images/logo1.jpg'%}" alt="Logo" />
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
          <i class="ti-menu"></i>
        </button>

        <div class="collapse navbar-collapse text-center" id="navigation">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}"> Home </a>
              {% comment %}
              <div class="dropdown-menu">
                <a class="dropdown-item" href="index-full.html">Homepage Full Width</a>
                <a class="dropdown-item" href="index-full-left.html">Homepage Full With Left Sidebar</a>
                <a class="dropdown-item" href="index-full-right.html">Homepage Full With Right Sidebar</a>
                <a class="dropdown-item" href="index-list.html">Homepage List Style</a>
                <a class="dropdown-item" href="index-list-left.html">Homepage List With Left Sidebar</a>
                <a class="dropdown-item" href="index-list-right.html">Homepage List With Right Sidebar</a>
              </div>
              {% endcomment %}
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'schemes' %}">Schemes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Subsidy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Tender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            {% comment %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Pages <i class="ti-angle-down ml-1"></i>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="author.html">Author</a>
                <a class="dropdown-item" href="post-details-1.html">Post Details 1</a>
                <a class="dropdown-item" href="post-details-2.html">Post Details 2</a>
                <a class="dropdown-item" href="post-elements.html">Post Elements</a>
                <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>
                <a class="dropdown-item" href="terms-conditions.html">Terms Conditions</a>
              </div>
            </li>
            {% endcomment %}
          </ul>

          <select class="m-2 border-0" id="select-language">
            <option id="en" value="about/" selected>En</option>
            <option id="fr" value="fr/about/">Hi</option>
          </select>
          <button id="" class="search-btn">
            <i class="ti-user"></i>
          </button>

          <!-- search -->
          <!-- <div class="search px-4">
              <button id="searchOpen" class="search-btn">
                <i class="ti-search"></i>
              </button>
              <div class="search-wrapper">
                <form action="javascript:void(0)" class="h-100">
                  <input
                    class="search-box pl-4"
                    id="search-query"
                    name="s"
                    type="search"
                    placeholder="Type &amp; Hit Enter..."
                  />
                </form>
                <button id="searchClose" class="search-close">
                  <i class="ti-close text-dark"></i>
                </button>
              </div> -->
        </div>
    </div>
    </nav>
    </div>
  </header>
  <main role="main">
    {% comment %}
    <div class="row justify-content-md-center">
      {% endcomment %}
      <div>
        <div class="py-2 mt-20 bg-green-50 mb-8">
          <div class="container px-4 lg:px-0 mx-auto"></div>
        </div>
        <div class="container">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %} {% block content %}{% endblock %}
        <div>
      </div>
      {% comment %}
    </div>
    {% endcomment %}
  </main>
  <hr />
  <footer class="section-sm pb-0 border-top border-default">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-3 mb-4">
          <a class="mb-4 d-block" href="{% url 'home'%}">
            <img class="img-fluid" width="150px" src="{% static 'images/logo1.jpg'%}" alt="Janjagurati"
              style="width: 100px; height: 100px" />
          </a>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </p>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
          <h6 class="mb-4">Quick Links</h6>
          <ul class="list-unstyled footer-list">
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-conditions.html">Terms Conditions</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
          <h6 class="mb-4">Social Links</h6>
          <ul class="list-unstyled footer-list">
            <li><a href="#">facebook</a></li>
            <li><a href="#">twitter</a></li>
            <li><a href="#">linkedin</a></li>
            <li><a href="#">github</a></li>
          </ul>
        </div>

        <div class="col-md-3 mb-4">
          <h6 class="mb-4">Subscribe Newsletter</h6>
          <form class="subscription" action="javascript:void(0)" method="post">
            <div class="position-relative">
              <i class="ti-email email-icon"></i>
              <input type="email" class="form-control" placeholder="Your Email Address" />
            </div>
            <button class="btn btn-primary btn-block rounded" type="submit">
              Subscribe now
            </button>
          </form>
        </div>
      </div>
      <div class="scroll-top">
        <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
      </div>
    </div>
  </footer>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% comment %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endcomment %}
<!-- JS Plugins -->
<script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}" async></script>
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/script.js'%}"></script>

</html>