{% extends 'schemes/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-md">
<div class="bg-white z-0 relative mx-auto lg:text-left justify-center rounded-xl">
    <div class="gap-4 grid grid-cols-1 !grid-cols-1 md:grid-cols-2 lg:grid-cols-4 undefined">
        <div class ="mx-auto rounded-xl shadow-md overflow-hidden w-full group hover:shadow-lg bg-white">
            <div class="header-bar">
                <a href="{% url 'schemes' %}">&#8592; Back</a>
                {% comment %} Hell {% endcomment %}
            </div>
            <div class="p-4 md:p-8 w-full">
                
                <form method="POST" action="" class="">
                    {% csrf_token %}
                    {% comment %} {%for fields in form%}
                        <div class = "relative flex w-full items-center">
                            
                            {{fields}}
                        </div>
                    {% endfor %} {% endcomment %}
                    {{form|crispy}}
                    <input class=" flex items-center  px-5 py-2.5 text-base  rounded-md   undefined undefined border border-solid !bg-transparent  text-green-600 hover:text-green-700 border-teal-700 hover:border-teal-700   transition ease-in-out font-medium leading-none mt-6 
                    undefined " type="submit" value="Submit">
                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}