<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Our Privacy Policy</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Themefisher">

    <!-- plugins -->
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
        style="font-display: optional;">
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/secondStyle.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
</head>

<body>


    <section class="section-sm">
        <div class="container ">
            <div class="row justify-content-xl-center">

                <div class="col-md-9 card p-5 b-5">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="ti-arrow-left">

                            </i>
                            <small>
                                Back
                            </small>
                        </div>

                    </div>
                    <form method="POST" action="#">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="title">Title (Required)</label>
                                    <input type="text" name="title" id="title" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name (Required)</label>
                                    <input type="text" name="name" id="name" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="brief">Brief (Required)</label>
                                    <textarea placeholder="This is an awesome comment box" rows="20"
                                        name="comment[text]" id="comment_text" cols='15' class="form-control"
                                        autocomplete="off" role="textbox" aria-autocomplete="list"
                                        aria-haspopup="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="eligibilty">Eligibilty (Required)</label>
                                    <textarea placeholder="This is an Eligibilty" rows="20" name="eligibilty[text]"
                                        id="eligibilty_text" class="form-control" autocomplete="off" role="textbox"
                                        aria-autocomplete="list" aria-haspopup="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="references">References (Required)</label>
                                    <textarea placeholder="This is an references" rows="20" name="references[text]"
                                        id="references_text" cols='15' class="form-control" autocomplete="off"
                                        role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="slugs">Slug (Required)</label>
                                    <input type="text" name="slug" id="slug" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tags">Tags (Required)

                                        <i class="ti-info info-icon"></i>

                                    </label>
                                    <input type="text" name="tags" id="tags" class="form-control" required>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="details">Details (Required)</label>
                                    <textarea placeholder="This is an details" rows="20" name="details[text]"
                                        id="details_text" cols='15' class="form-control" autocomplete="off"
                                        role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="category">Category (Required)</label>
                                    <select class="m-2 border-0 form-control" id="select-category" required>
                                        <option id="category 1" value="category 1" selected>category 1</option>
                                        <option id="category 2" value="category 2">category 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subcategory">Sub-category (Required)


                                    </label>
                                    <select class="m-2 border-0 form-control" id="select-category" required>
                                        <option id="Subcategory 1" value="Subcategory 1" selected>Sub-category 1
                                        </option>
                                        <option id="Subcategory 2" value="Subcategory 2">Sub-category 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">

                                <div class="form-group">
                                    <label for="photos">Photos (Required)</label>
                                    <input type="file" id="photos" name="photos" class="form-control upload__inputfile"
                                        multiple="" data-max_length="20" accept="image/*">

                                </div>

                                <div class="row upload__img-wrap"></div>

                                <!-- <div class="form-group">
                                    <label for="photos">Photos (Required)</label>
                                    <input type="file" id="photos" name="photos" class="form-control" accept="image/*">

                                </div> -->
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="opendate">OpenDate (Required)</label>
                                    <input type="date" name="opendate" id="opendate" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="closedate">CloseDate (Required)</label>
                                    <input type="date" name="closedate" id="closedate" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-xl-center">
                            <button type="submit" class="btn btn-primary col-md-6">Submit</button>


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>



    <!-- JS Plugins -->
    <script src="plugins/jQuery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js" async></script>
    <script src="plugins/slick/slick.min.js"></script>

    <!-- Main Script -->
    <script src="js/script.js"></script>
    <script>
        jQuery(document).ready(function () {
            ImgUpload();
        });

        function ImgUpload() {
            var imgWrap = "";
            var imgArray = [];

            $('.upload__inputfile').each(function () {
                $(this).on('change', function (e) {
                    imgWrap = $(this).closest('.row').find('.col-md-10').find('.upload__img-wrap');
                    var maxLength = $(this).attr('data-max_length');

                    var files = e.target.files;
                    var filesArr = Array.prototype.slice.call(files);
                    var iterator = 0;
                    filesArr.forEach(function (f, index) {

                        if (!f.type.match('image.*')) {
                            return;
                        }

                        if (imgArray.length > maxLength) {
                            return false
                        } else {
                            var len = 0;
                            for (var i = 0; i < imgArray.length; i++) {
                                if (imgArray[i] !== undefined) {
                                    len++;
                                }
                            }
                            if (len > maxLength) {
                                return false;
                            } else {
                                imgArray.push(f);

                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                                    imgWrap.append(html);
                                    iterator++;
                                }
                                reader.readAsDataURL(f);
                            }
                        }
                    });
                });
            });

            $('body').on('click', ".upload__img-close", function (e) {
                var file = $(this).parent().data("file");
                for (var i = 0; i < imgArray.length; i++) {
                    if (imgArray[i].name === file) {
                        imgArray.splice(i, 1);
                        break;
                    }
                }
                $(this).parent().parent().remove();
            });
        }
    </script>
</body>

</html>