<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Login Page</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Themefisher">

    <!-- plugins -->
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
        style="font-display: optional;">
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">
        D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/
    <link rel="stylesheet" href="D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/plugins/slick/slick.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/css/style.css">

    <link rel="stylesheet" href="D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/css/secondStyle.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="D:/2019110067/MajorProject/Practice/JanJagruti_Temp-new_temp/schemes/static/images/favicon.png" type="image/x-icon">
</head>

<body>


    <section class="section-sm">
        <div class="container ">
            <div class="row justify-content-xl-center">

                <div class="col-md-4 card p-5 b-5">
                    <form method="POST" action="#">
                        <div class="form-group">
                            <label for="name">UserName (Required)</label>
                            <input type="text" name="name" id="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password (Required)</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                        <!-- <div class="form-group">
                     <label for="message">Your Message Here</label>
                     <textarea name="message" id="message" class="form-control"></textarea>
                  </div> -->
                        <div style="display:flex; justify-content: space-between;">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="submit" class="btn">Forget Password</button>

                        </div>
                        <div class="border-top pt-3 mt-2" style="display:flex; justify-content: space-between;">
                            <small class=" text-muted">
                                Need An Account?

                            </small>
                            <small>
                                <a class="ml-2" href="#">
                                    Sign Up Now</a>
                            </small>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



    <!-- JS Plugins -->
    <script src="plugins/jQuery/jquery.min.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js" async></script>
    <script src="plugins/slick/slick.min.js"></script>

    <!-- Main Script -->
    <script src="js/script.js"></script>
</body>

</html>