{% extends "schemes/base.html" %} {% block content %}
{% comment %} <div class="py-2 mt-20 bg-green-50 mb-8"><div class="container px-4 lg:px-0 mx-auto  "></div></div> {% endcomment %}
<div class="grid grid-cols-4 gap-4 container mx-auto px-4 sm:px-0 relative">
  <div class="sm:col-span-1 sm:block hidden">
    <div class="bg-white rounded-md shadow-sm p-4 sticky top-24">
      <div>
        <div
          class="flex-row justify-between items-center border-0 border-solid border-b-2 border-gray-300 pb-2 hidden sm:flex"
        >
          <h2 class="text-base text-blue-900 font-semibold">Filter By</h2>
          <button class="outline-none text-green-600 text-base font-semibold">
            Reset Filters
          </button>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1">Gender</span>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >All</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">9</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Female</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Male</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Transgender</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1">Age</span>
          <div class="mt-2 css-2b097c-container">
            <span
              aria-live="polite"
              aria-atomic="false"
              aria-relevant="additions text"
              class="css-7pg0cj-a11yText"
            ></span>
            <div class="css-yk16xz-control">
              <div class="css-1hwfws3">
                <div class="css-1wa3eu0-placeholder">Select</div>
                <div class="css-1g6gooi">
                  <div class="" style="display: inline-block">
                    <input
                      autocapitalize="none"
                      autocomplete="off"
                      autocorrect="off"
                      id="react-select-5-input"
                      spellcheck="false"
                      tabindex="0"
                      type="text"
                      aria-autocomplete="list"
                      value=""
                      style="
                        box-sizing: content-box;
                        width: 2px;
                        background: 0px center;
                        border: 0px;
                        font-size: inherit;
                        opacity: 1;
                        outline: 0px;
                        padding: 0px;
                        color: inherit;
                      "
                    />
                    <div
                      style="
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        visibility: hidden;
                        height: 0px;
                        overflow: scroll;
                        white-space: pre;
                        font-size: 16px;
                        font-family: Mulish, system-ui, sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: normal;
                        text-transform: none;
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div class="css-1wy0on6">
                <span class="css-1okebmr-indicatorSeparator"></span>
                <div class="css-tlfecz-indicatorContainer" aria-hidden="true">
                  <svg
                    height="20"
                    width="20"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    focusable="false"
                    class="css-8mmkcg"
                  >
                    <path
                      d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1">Caste</span>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >All</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">9</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >General</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Particularly Vulnerable Tribal Group (PVTG)</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Scheduled Caste (SC)</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Scheduled Tribe (ST)</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Ministry Name</span
          >
          <div class="mt-2 css-2b097c-container">
            <span
              aria-live="polite"
              aria-atomic="false"
              aria-relevant="additions text"
              class="css-7pg0cj-a11yText"
            ></span>
            <div class="css-yk16xz-control">
              <div class="css-1hwfws3">
                <div class="css-1wa3eu0-placeholder">Select</div>
                <div class="css-1g6gooi">
                  <div class="" style="display: inline-block">
                    <input
                      autocapitalize="none"
                      autocomplete="off"
                      autocorrect="off"
                      id="react-select-6-input"
                      spellcheck="false"
                      tabindex="0"
                      type="text"
                      aria-autocomplete="list"
                      value=""
                      style="
                        box-sizing: content-box;
                        width: 2px;
                        background: 0px center;
                        border: 0px;
                        font-size: inherit;
                        opacity: 1;
                        outline: 0px;
                        padding: 0px;
                        color: inherit;
                      "
                    />
                    <div
                      style="
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        visibility: hidden;
                        height: 0px;
                        overflow: scroll;
                        white-space: pre;
                        font-size: 16px;
                        font-family: Mulish, system-ui, sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: normal;
                        text-transform: none;
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div class="css-1wy0on6">
                <span class="css-1okebmr-indicatorSeparator"></span>
                <div class="css-tlfecz-indicatorContainer" aria-hidden="true">
                  <svg
                    height="20"
                    width="20"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    focusable="false"
                    class="css-8mmkcg"
                  >
                    <path
                      d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Residence</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Both</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">5</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Rural</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">5</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Urban</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Minority</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >No</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">9</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Yes</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Benefit Type</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Monetary</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">5</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Non Monetary</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">5</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Both</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >DBT Scheme</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >No</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">6</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Yes</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">4</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Disability Percentage</span
          >
          <div class="mt-2 css-2b097c-container">
            <span
              aria-live="polite"
              aria-atomic="false"
              aria-relevant="additions text"
              class="css-7pg0cj-a11yText"
            ></span>
            <div class="css-yk16xz-control">
              <div class="css-1hwfws3">
                <div class="css-1wa3eu0-placeholder">Select</div>
                <div class="css-1g6gooi">
                  <div class="" style="display: inline-block">
                    <input
                      autocapitalize="none"
                      autocomplete="off"
                      autocorrect="off"
                      id="react-select-7-input"
                      spellcheck="false"
                      tabindex="0"
                      type="text"
                      aria-autocomplete="list"
                      value=""
                      style="
                        box-sizing: content-box;
                        width: 2px;
                        background: 0px center;
                        border: 0px;
                        font-size: inherit;
                        opacity: 1;
                        outline: 0px;
                        padding: 0px;
                        color: inherit;
                      "
                    />
                    <div
                      style="
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        visibility: hidden;
                        height: 0px;
                        overflow: scroll;
                        white-space: pre;
                        font-size: 16px;
                        font-family: Mulish, system-ui, sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: normal;
                        text-transform: none;
                      "
                    ></div>
                  </div>
                </div>
              </div>
              <div class="css-1wy0on6">
                <span class="css-1okebmr-indicatorSeparator"></span>
                <div class="css-tlfecz-indicatorContainer" aria-hidden="true">
                  <svg
                    height="20"
                    width="20"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    focusable="false"
                    class="css-8mmkcg"
                  >
                    <path
                      d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Below Poverty Line</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >No</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">9</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Yes</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">1</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Government Employee</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >No</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">8</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Yes</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">2</span>
          </div>
        </div>
        <div class="mt-2 mb-3">
          <span class="text-base font-semibold text-blue-900 mb-1"
            >Employment Status</span
          >
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >All</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">6</span>
          </div>
          <div
            class="flex flex-row justify-between items-center cursor-pointer my-2"
          >
            <div class="w-[85%] flex flex-row items-center">
              <input
                type="checkbox"
                class="mr-3 rounded border border-solid border-gray-300 text-green-600 cursor-pointer"
              /><span class="text-sm text-gray-600 hover:underline truncate"
                >Employed</span
              >
            </div>
            <span class="text-semibold text-xs text-cyan-700">2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sm:col-span-3 col-span-4 content-center items-center justify-center"
  >
  
    <form
      class="w-full flex h-10 items-center relative"
      method="GET"
      style="display: flex">
      <input
        type="text"
        name="search-area"
        class="w-full h-full pr-12 border border-solid border-gray-200 rounded-md bg-white hover:border-green-700 focus:border-green-700 focus:outline-none"
        placeholder="Search"
        value="{{search_input}}"
      />
      <button type='submit'
        class="absolute right-0 h-10 outline-none rounded-tr-md rounded-br-md rounded-bl-3xl bg-green-600 px-4 py-2"
        aria-label="Search"
        value=""
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          class="text-white"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
          ></path>
        </svg>
      </button>
    </form>
    <div
      class="fixed bottom-0 left-0 right-0 sm:hidden border-0 border-t border-solid border-gray-200"
    >
      <div
        class="flex flex-row items-center justify-between bg-white px-4 py-3 shadow-md"
      >
        <div
          class="flex flex-row items-center justify-center flex-1 cursor-pointer px-4 py-2 bg-gray-200 rounded-full mr-2"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="text-sky-500"
            height="20"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M8 16H4l6 6V2H8zm6-11v17h2V8h4l-6-6z"></path></svg
          ><span class="text-sky-500">Sort</span>
        </div>
        <div
          class="flex flex-row items-center justify-center flex-1 cursor-pointer px-4 py-2 bg-green-600 rounded-full ml-2"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="text-white"
            height="20"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24m0 24H0"></path>
            <path
              d="M7 6h10l-5.01 6.3L7 6zm-2.75-.39C6.27 8.2 10 13 10 13v6c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-6s3.72-4.8 5.74-7.39A.998.998 0 0018.95 4H5.04c-.83 0-1.3.95-.79 1.61z"
            ></path>
            <path fill="none" d="M0 0h24v24H0V0z"></path></svg
          ><span class="text-white">Filter</span>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center justify-between my-4">
      <div class="flex flex-row items-center">
        <div class="flex flex-wrap items-center gap-2 ml-2">
          <div class="text-base font-medium text-cyan-700 mb-0">
            We found
            <span class="text-lg font-bold text-blue-900 font-heading">{{ page_obj.paginator.count }}</span>
            schemes based on your preferences
          </div>
        </div>
      </div>
      <div
        class="sm:hidden h-screen w-screen bg-black/20 fixed top-0 left-0 z-50 transform transition-all ease-in-out translate-y-full"
      >
        <div class="relative h-full w-full bottom-0">
          <div
            class="absolute w-full max-h-[90%] overflow-y-scroll bottom-0 bg-white px-6 pt-4 pb-[15%] rounded-tr-lg rounded-tl-lg translate-y-full"
          >
            <div class="flex flex-row items-center justify-between">
              <h3 class="text-base font-semibold font-mono">Sort</h3>
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                class="text-green-600 cursor-pointer"
                height="20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                ></path>
              </svg>
            </div>
            <div class="mt-2">
              <div
                class="flex flex-row items-center justify-between my-1 cursor-pointer"
              >
                <span class="text-base font-mono font-semibold">Relevance</span
                ><input
                  type="radio"
                  name="sort"
                  class="text-green-600 cursor-pointer"
                  value="multiple_sort"
                />
              </div>
              <div
                class="flex flex-row items-center justify-between my-1 cursor-pointer"
              >
                <span class="text-base font-mono font-semibold"
                  >Scheme Name (A-&gt;Z)</span
                ><input
                  type="radio"
                  name="sort"
                  class="text-green-600 cursor-pointer"
                  value="schemename-asc"
                />
              </div>
              <div
                class="flex flex-row items-center justify-between my-1 cursor-pointer"
              >
                <span class="text-base font-mono font-semibold"
                  >Scheme Name (Z-&gt;A)</span
                ><input
                  type="radio"
                  name="sort"
                  class="text-green-600 cursor-pointer"
                  value="schemename-desc"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row items-center hidden sm:flex">
        <h5
          class="hidden md:block text-gray-500 tracking-wide text-sm font-semibold whitespace-nowrap"
        >
          Sort :
        </h5>
        <select
          class="border-0 py-0 pl-1 bg-transparent outline-none text-base w-32"
        >
          <option value="multiple_sort">Relevance</option>
          <option value="schemename-asc">Scheme Name (A-&gt;Z)</option>
          <option value="schemename-desc">Scheme Name (Z-&gt;A)</option>
        </select>
      </div>
    </div>
    {% for scheme in schemes %}
    <div class="mt-2">
      <div
        class="gap-4 grid grid-cols-1 !grid-cols-1 md:grid-cols-2 lg:grid-cols-4 undefined"
      >
        <div
          class="mx-auto rounded-xl shadow-md overflow-hidden w-full group hover:shadow-lg bg-white"
        >
          <div class="md:shrink-0"></div>
          <div class="p-4 md:p-8 w-full">
            <div class="flex flex-row items-center justify-between">

              <div class="flex flex-col">
                <div class="flex flex-col"><h2 class=" tracking-wide text-sm text-darkIndigo-900 font-normal">{{scheme.nodalMinistry}}</h2>
                  <h2><a class="undefined block mt-1 text-xl leading-tight font-semibold text-green-600 group-hover:text-green-900  normal-case " href="{% url 'updatescheme' scheme.slug%}"><span>{{ scheme.name }}</span></a>
                  </h2>
                </div>
              </div>
            </div>
            <p class="mt-2 text-slate-500 line-clamp-2">
              <span>{{ scheme.brief }} </span>
            </p>
            <div
              class="grid grid-cols-1 md:flex flex-wrap gap-4 justify-between items-center mt-4 w-full"
            >
              <div class="lg:w-[90%]">
                <div
                  class="flex items-center gap-4 justify-between items-center !justify-start !gap-1 flex-wrap"
                >
                  {% for tag in scheme.tags.all %}
                  <a
                    href="{% url 'tagged' tag.slug %}"
                    class="mr-1 badge badge-info"
                    >{{ tag }}</a>
                  <!-- <div title="Agricultural Inputs"
                                          class=" text-gray-800 bg-gray-200 rounded   inline-block font-semibold leading-none py-2 px-3.5 text-sm text-left md:text-center rounded hover:shadow-md mr-2 mt-1 cursor-pointer ">
                                          <span>{{tag}}</span>
                                      </div> -->
                  {% endfor %}
                </div>
              </div>
              <div class="flex-col self-end">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="group-hover:text-green-600 hidden md:flex cursor-pointer"
                  height="24"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  ></path></svg
                ><button
                  aria-label="Green Button"
                  class="flex items-center px-5 py-2.5 text-base rounded-md undefined undefined border border-solid !bg-transparent text-green-600 hover:text-green-700 border-teal-700 hover:border-teal-700 w-full block transition ease-in-out font-medium leading-none group-hover:text-green-600 md:hidden justify-between undefined"
                  title=""
                >
                  More Details<svg
                    stroke="currentColor"
                    fill="none"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    class="ml-2 inline-block w-6 h-6"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 8l4 4m0 0l-4 4m4-4H3"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="mt-[20%] sm:mt-2"></div>
    </div>
    {% endfor %}
    <div class="flex flex-row items-center justify-center mt-4">
      {% if is_paginated %}
        {% if search_input == '' %}
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
              <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 24 24"
                class="text-blue-900 cursor-pointer ml-2 "
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path
                  d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                ></path>
              </svg>
            </a>
            {% else %}
              <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="text-blue-900 cursor-pointer mr-2 opacity-50 cursor-not-allowed"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path
                d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
              ></path>
            </svg>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <div class="flex items-center justify-center h-8 w-8 rounded-full mx-1 hover:underline text-blue-900 cursor-pointer bg-green-600">
                <span class="text-base font-semibold text-white">{{page_obj.number}}</span>
              </div>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
            <a href="?page={{ num }}">
              <div class="flex items-center justify-center h-8 w-8 rounded-full mx-1 hover:underline text-blue-900 cursor-pointer">
                <span class="text-base font-semibold text-black">{{num}}</span>
              </div>
            </a>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-900 cursor-pointer ml-2 " height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"></path>
              </svg>
            </a>
          {% else %}
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-900 cursor-pointer mr-2 opacity-50 cursor-not-allowed" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"></path>
            </svg>
          {% endif %}
        {% else %}
        {% if page_obj.has_previous %}
        <a href="?search-area={{search_input}}&page={{ page_obj.previous_page_number }}">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="text-blue-900 cursor-pointer ml-2 "
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path
              d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
            ></path>
          </svg>
        </a>
        {% else %}
          <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          class="text-blue-900 cursor-pointer mr-2 opacity-50 cursor-not-allowed"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
          ></path>
        </svg>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <div class="flex items-center justify-center h-8 w-8 rounded-full mx-1 hover:underline text-blue-900 cursor-pointer bg-green-600">
            <span class="text-base font-semibold text-white">{{page_obj.number}}</span>
          </div>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
        <a href="?search-area={{search_input}}&page={{ num }}">
          <div class="flex items-center justify-center h-8 w-8 rounded-full mx-1 hover:underline text-blue-900 cursor-pointer">
            <span class="text-base font-semibold text-black">{{num}}</span>
          </div>
        </a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?search-area={{search_input}}&page={{ page_obj.next_page_number }}">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-900 cursor-pointer ml-2 " height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"></path>
          </svg>
        </a>
      {% else %}
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-blue-900 cursor-pointer mr-2 opacity-50 cursor-not-allowed" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"></path>
        </svg>
      {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
